{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="text-center pb-3" id="animated_div">
    <h1 class="display-4 fw-bold">Welcome to our website!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here you will find what you need to find the best version of
            yourself...</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="{% url 'shop' %}" class="btn__highcontrast">GO SHOPPING</a>
            <a href="{% url 'contact' %}" class="btn__highcontrast">CONTACT US</a>
        </div>
    </div>
    <div>
        <div class="container px-5 h-100">
            <img src="../../media/banner-shop.png" class="shadow-lg mb-4 img-fluid" alt="news image">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    gsap.from("#animated_div", { x: -500, duration: 1.5, ease: Back.easeOut.config(5) });
</script>
{% endblock %}