{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<p>
    <img class="mb-4" src="../../media/logo_white.png" alt="" width="72" height="57">
<h1 class="h3 mb-3 fw-normal text-white">Please sign in</h1>
{% trans "Your account is now activated." %}
{% if not user.is_authenticated %}
{% trans "Once a site administrator activates your account you can login." %}
{% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}