{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container my-4 py-5">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 text-center">
                <!-- LOGO ANIMADO CON ANIME.JS -->
                <?xml version="1.0" standalone="no"?>
                <!DOCTYPE svg
                    PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="250pt" height="300pt"
                    viewBox="0 0 416.000000 378.000000" preserveAspectRatio="xMidYMid meet" id="ekan_logo">

                    <g transform="translate(0.000000,378.000000) scale(0.100000,-0.100000)" fill="none" stroke="#FFFFFF"
                        stroke-width="20">
                        <path d="M1811 3776 c2 -2 344 -131 759 -286 415 -155 759 -286 763 -290 5 -4
        -15 -623 -43 -1375 -28 -752 -50 -1374 -48 -1381 3 -13 920 3311 918 3329 0 4
        -529 7 -1177 7 -647 0 -1174 -2 -1172 -4z" />
                        <path d="M467 1696 c-251 -916 -460 -1672 -463 -1680 -6 -14 112 -16 1187 -16
        657 0 1187 4 1179 9 -8 5 -355 136 -770 291 -415 155 -759 286 -763 290 -5 4
        15 623 43 1375 28 752 50 1374 48 1381 -2 8 -209 -735 -461 -1650z" />
                    </g>
                </svg>
            </div>
            <div class="col d-flex">
                <form id="contact" action="" method="post" class="col-xs-12" style="color: white;">{% csrf_token %}
                    <div class="col-12 form-group">
                        {{form|crispy}}
                    </div>
                    <div class="row g-2 pt-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input class="btn btn-outline-warning" type="submit" value="Send">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}