@import "bootstrap/bootstrap.scss";
@import "../scss/bootstrap/variables";

@mixin bg-properties {
    background-color: $white;
    min-height: 100vh;
}

body {
    @include bg-properties();
    scroll-behavior: smooth;
}

.nav__menu {
    background-color: $black;
}

.qty__signal {
    background-color: #E90064;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    margin: 0px;
}

.card__prod {
    align-self: flex-end;
    z-index: 1;
}

.btn__highcontrast {
    background-color: $btn-bg-color;
    color: $btn-font-color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: $btn-padding-y $btn-padding-x;
    font-weight: 500;
    box-shadow: 2px 2px 0px $btn-font-color-hover;
    margin: 0px $btn-margin-x;
}

.btn__highcontrast:hover {
    color: $btn-font-color-hover;
}

@media (max-width: 575px) {
    .btn__highcontrast {
        margin: 0% 10% 0% 10%;
        font-size: small;
        font-weight: 100;
        display: inline-block;
        margin: 0px 3px;
    }
}

// QUITA LOS ASTERICOS DE LOS CAMPOS OBLIGATORIOS EN LOS FORMULARIOS
.asteriskField {
    display: none;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../media/logo_black.PNG') 50% 50% no-repeat #FFFFFF;
}


// INICIO LOGIN
.gradient-custom-2 {
    /* fallback for old browsers */
    background-color: #FFFF00;

    /* Chrome 10-25, Safari 5.1-6 */
    // background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

// FIN LOGIN