{% extends "base.html" %}
{% load i18n %}

<!-- BLOQUE DE ESTILOS -->
{% block styles %}
{% endblock %}

<!-- BLOQUE DENTRO DEL HEADER -->
{% block container_h %}
<img src="../../media/banner.png" alt="" class="w-100 h-100">
<!-- INCLUSIÓN DEL MENÚ -->
{% include "menu.html" %}
{% endblock %}

<!-- BLOQUE DENTRO DEL MAIN -->
{% block container %}
<!-- BLOQUE DE CONTENIDO -->
{% block content %}
{% endblock %}
{% endblock %}

<!-- BLOQUE DENTRO DEL FOOTER -->
{% block container_f %}
<!-- INCLUSIÓN DEL FOOTER -->
{% include "footer.html" %}
{% endblock %}

<!-- BLOQUE PARA SCRIPTS -->
{% block script %}
{% endblock %}